@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #06b861;
}


.topo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    justify-content: space-between;
}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 30px;
    place-self: center;   
}
.icons a {
    color: black;
}
.icons a:hover{
    i{
      animation: translateY 0.8s infinite alternate;
      color: #e8ec42;
    }
  }
  @keyframes translateY {
    from{
      transform: translateY(0) scale(1);
    } 
    to {
      transform: translateY(-8px) scale(1.1);
    }
}

.logo img{
    width: 160px;
    margin-top: 40px;
}
.logo{
    display: grid;
    place-self: center;
    margin-top: -20px;
}

.menu a{
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-size: 25px;
    font-weight: bold;
    color: black; 
    padding: 5px 10px;
    position: relative;

}
.menu a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #e8ec42;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.menu{
    place-self: center;
}

.img_topo{
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(24, 182, 45, 0.1), #06b861), url("../assets/unipe.webp");
    left: 0;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.texto1{
    display: flex;
    flex-direction: column;
    column-gap: 600px;
}

.texto_home{
  width: 100vh;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Courier Prime", monospace;
}
.texto_home h1{
    margin-bottom: 0px;
}
.sub-titulo{
    margin-bottom: 0px;
    font-family: 'Courier Prime', monospace;
    width: 77vh;
    margin-left: 50px;

}

.sub-titulo h2{
    font-weight: normal;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 25px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
.tamanho-typing{
    margin-left: 0px;
}

.typing-animation{
    animation: piscaCursor 500ms steps(40) infinite normal, typing steps(40) 2s 1s normal;
}

@keyframes typing {
    from{
        width: 0%;  
    }
    to{
        width: 100%;
    }
}


@keyframes piscaCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

/* Estilo do container do slideshow */
.container {
    display: flex;
    background-color: #f2f2f2; /* Cor cinza de fundo */
    width: 100%;
    height: 120hv;
    margin-top: 15px;
}

.container:last-child {
    width: 100%;
}

.slideshow {
    width: 70%; /* Largura do slideshow */
    height: 100%; /* Altura do slideshow */
    overflow: hidden; /* Para esconder partes da imagem que não cabem */
}

.slides {
    width: 100%; /* Largura da imagem */
    height: 100%;
    object-fit: cover;
}

.sobre-nos {
    width: 30%; /* Largura da seção "Sobre Nós" */
    padding: 20px;
    text-align: right;
}

.sobre-nos h2 {
    color: #333; /* Cor do título */
}
.slides {
    display: none;
}

/* Classe para a animação de fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Estilos para a seção que contém os blocos de cursos */
.cursos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px;
  }
  
  /* Estilos para cada bloco de curso */
  .curso {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Cor de fundo clara */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ajustar largura conforme necessário */
    transition: 0.3s ease-in-out; /* Animação de transição suave */
  }
  
  /* Estilos para o cabeçalho do curso (com título) */
  .curso-header {
    background-color: #dfe1e5; /* Cor de fundo mais escura */
    padding: 15px 20px;
    border-radius: 10px 10px 0 0; /* Arredonda apenas os cantos superiores */
  }
  
  .curso-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333; /* Cor de texto mais escura */
  }
  
  /* Estilos para a imagem do curso */
  .curso img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  /* Estilos para a descrição do curso */
  .curso p {
    line-height: 1.6;
    color: #666; /* Cor de texto mais clara */
    text-align: center;
  }
  
  /* Estilos para o botão de inscrição */
  .curso .botao {
    display: block;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação de transição suave */
    text-align: center;
  }
  
  .curso .botao:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
  }
  
  /* Animação de "pulsante" no botão de inscrição */
  .curso .botao:hover::before {
    content:
  