@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #06b861;
}


.topo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    justify-content: space-between;
}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 30px;
    place-self: center;   
}
.icons a {
    color: black;
}
.icons a:hover{
    i{
      animation: translateY 0.8s infinite alternate;
      color: #e8ec42;
    }
  }
  @keyframes translateY {
    from{
      transform: translateY(0) scale(1);
    } 
    to {
      transform: translateY(-8px) scale(1.1);
    }
}

.logo img{
    width: 160px;
    margin-top: 40px;
}
.logo{
    display: grid;
    place-self: center;
    margin-top: -20px;
}

.menu a{
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-size: 25px;
    font-weight: bold;
    color: black; 
    padding: 5px 10px;
    position: relative;

}
.menu a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #e8ec42;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.menu{
    place-self: center;
}

.img_topo{
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(24, 182, 45, 0.1), #06b861), url("../assets/unipe.webp");
    left: 0;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.texto1{
    display: flex;
    flex-direction: column;
    column-gap: 600px;
}

.texto_home{
  width: 100vh;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Courier Prime", monospace;
}
.texto_home h1{
    margin-bottom: 0px;
}
.sub-titulo{
    margin-bottom: 0px;
    font-family: 'Courier Prime', monospace;
    width: 77vh;
    margin-left: 50px;

}

.sub-titulo h2{
    font-weight: normal;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 25px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
.tamanho-typing{
    margin-left: 0px;
}

.typing-animation{
    animation: piscaCursor 500ms steps(40) infinite normal, typing steps(40) 2s 1s normal;
}

@keyframes typing {
    from{
        width: 0%;  
    }
    to{
        width: 100%;
    }
}


@keyframes piscaCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}
